body {
   font-family: Arial, sans-serif;
   margin: 12px;
   width: max-content;
}

h3 {
   text-align: center;
}

#log {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 12px;
}

.card {
   outline: 1px solid #0366d6;
   padding: 12px;
   display: grid;
}

.card-name,
.card-type,
.card-date,
.card-set,
.card-setpack {
   font-style: oblique;
   color: #666;
   font-size: 1em;
   font-weight: bolder;
}

.card-date {
   font-size: 0.9em;
   font-style: italic;
   color: #666;
}

.card a {
   text-decoration: none;
   color: #0366d6;
}

.card a:hover {
   text-decoration: underline;
}

.card img {
   max-width: 100px;
   height: auto;
   border-radius: 5px;
}

.card img:hover {
   cursor: pointer;
}